---
layout: layout.njk
---

<div id="post">
    <section id="meta">
        <ul id="categories">
            {% for category in categories %}
                <li># {{ category }}</li>
            {% endfor %}
        </ul>
        <h1>{{ title }}</h1>
        <x-tokens>
            <span>{{ page.date | date }}</span>
            <span>|</span>
            <span>완독까지 약 {{ (content.split(' ').length / 150).toFixed(0) }}분</span>
        </x-tokens>
    </section>

    <article>
        {{ content | safe }}
    </article>

    <script src="https://giscus.app/client.js"
            data-repo="nemorize/nemorize"
            data-repo-id="R_kgDOM1cCzg"
            data-category="Discussions"
            data-category-id="DIC_kwDOM1cCzs4Cmj31"
            data-mapping="pathname"
            data-strict="1"
            data-reactions-enabled="0"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="https://nemorize.me/assets/css/giscus.css"
            data-lang="ko"
            crossorigin="anonymous"
            async>
    </script>
</div>
