---
layout: layout.njk
---

<div id="post">
    <section id="meta">
        <ul id="categories">
            {% for category in categories %}
                <li># {{ category }}</li>
            {% endfor %}
        </ul>
        <h1>{{ title }}</h1>
        <x-tokens>
            <span>{{ page.date | date }}</span>
            <span>|</span>
            <span>완독까지 약 {{ (content.split(' ').length / 150).toFixed(0) }}분</span>
        </x-tokens>
    </section>

    <article>
        {{ content | safe }}
    </article>
</div>
