@import url('../fonts/pretendard-variable/pretendardvariable.css');
@import url('../fonts/d2coding/d2coding.css');

:root {
  --color-primary: #154AD4;
  --color-background: #FAFAF8;
  --color-dimmed: #DADAD7;

  --color-text-high: #151515;
  --color-text-mid: #353535;
  --color-text-low: #999999;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Pretendard Variable', sans-serif;
}

a {
  color: inherit;
  font-weight: 450;
  text-decoration: underline;
  text-decoration-color: var(--color-dimmed);
  text-underline-offset: 3px;

  transition: color 0.25s, text-decoration-color 0.25s;
}

a:hover, a:hover * {
  color: var(--color-primary);
  text-decoration-color: var(--color-primary);
}

html, body {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 0;
  padding: 0;

  background-color: var(--color-background);

  color: var(--color-text-mid);
  font-size: 14.5px;
  font-weight: 450;
  line-height: 1.875;
  letter-spacing: -0.18px;
}

@media (max-width: 640px) {
  html, body {
    font-size: 14px;
    line-height: 1.75;
  }
}

body {
  padding: 0 20px;
}

body > * {
  width: 100%;
  max-width: 800px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

header #brand {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--color-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
}

header #brand:before {
  content: '';

  display: block;
  width: 8px;
  height: 8px;

  background-color: var(--color-primary);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

header nav a {
  color: var(--color-text-mid);
  font-size: 14px;
  text-decoration: none;
}

footer {
  display: flex;
  align-items: center;

  height: 56px;
}

@media (max-width: 640px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    height: unset;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

footer #copyright {
  flex: 1;
  margin: 0;

  color: var(--color-text-low);
  font-size: 14px;
}

footer nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 28px;
}

footer nav a {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--color-text-mid) !important;
  font-size: 14px;
  text-decoration: none;
}

footer nav a svg {
  width: 14px;
  height: 14px;
}
