.blog {
  &__search {
    display: flex;
    align-items: center;
    gap: 12px;

    margin: -24px -2px 32px;

    label {
      position: relative;
      flex: 1;

      input {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 0 14px;

        background-color: #FFFFFF;
        border: 1px solid var(--border);
        border-radius: 4px;
        outline: none;

        appearance: none;
        -webkit-appearance: none;

        color: var(--high);
        font-size: 14px;
        font-weight: 450;
        line-height: 1;

        transition: border-color 0.25s, background-color 0.25s;

        &:focus {
          border-color: var(--primary);
        }

        @media (prefers-color-scheme: dark) {
          background-color: var(--border);
          color: var(--background);

          &:focus {
            border-color: var(--border);
            background-color: var(--primary);
          }
        }
      }

      &:before {
        content: '검색어를 입력해주세요.';

        position: absolute;
        top: 13px;
        left: 15px;
        z-index: 5;

        pointer-events: none;

        color: var(--low);
        font-size: 14px;
        font-weight: 450;
        line-height: 1;
      }

      &:has(input:focus):before {
        content: unset;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 64px;
      height: 40px;
      padding: 1px 0 0;

      background-color: var(--primary);
      border: 1px solid var(--border);
      border-radius: 4px;
      outline: none;

      appearance: none;
      -webkit-appearance: none;
      cursor: pointer;

      color: var(--background);
      font-size: 13px;
      font-weight: 600;

      transition: background-color 0.25s;
    }

    &:has(input:invalid) button {
      background-color: var(--low);
      cursor: not-allowed;

      @media (prefers-color-scheme: dark) {
        background-color: var(--border);
        color: var(--low);
      }
    }
  }

  &__section {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border);

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0 none;
    }

    &:first-child {
      h3 {
        margin: 0;
      }
    }

    h3 {
      margin: 20px 0 0;

      color: var(--high);
      font-size: 16px;
      font-weight: 600;
    }

    ul {
      margin: 4px 0 0;
      padding-left: 20px;
    }

    a {
      color: var(--mid);
      font-size: 14px;
      font-weight: 500;
      text-decoration-color: var(--border);
      text-underline-offset: 4px;
      transition: color 0.25s, text-decoration-color 0.25s;

      &:hover {
        color: var(--primary);
        text-decoration-color: var(--primary);

        time {
          color: var(--primary);
        }
      }
    }

    time {
      color: var(--low);
      font-size: 12px;
      transition: color 0.25s;
    }
  }
}
