.index {
  &__jumbotron, &__section {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border);

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0 none;
    }
  }

  &__jumbotron {
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 720/360;
      margin-top: -24px;
      margin-bottom: 12px;
      border-radius: 4px;

      filter: grayscale(1);
      transition: filter 0.25s;

      &:hover {
        filter: grayscale(0.25);
      }

      @media (max-width: 800px) {
        width: calc(100% + 48px);
        margin-left: -24px;
        margin-bottom: 4px;

        border-radius: 0;
      }
    }

    h1 {
      margin: 0;

      color: var(--primary);
      font-size: 24px;
      font-weight: 800;

      span {
        color: var(--mid);
        font-size: 15px;
        font-weight: 650;
      }
    }

    p {
      margin: 12px 0 0;
      font-size: 14px;

      b {
        font-weight: 550;
      }
    }

    &-contact {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0 16px;

      &-item {
        display: flex;
        align-items: center;
        gap: 6px;

        color: var(--low);
        font-size: 13px;

        a {
          color: var(--low);
          font-size: 13px;
          text-decoration-color: var(--border);
          text-decoration-style: dashed;
          text-underline-offset: 4px;
          transition: text-decoration-color 0.25s;

          &:hover {
            text-decoration-color: var(--low);
          }
        }
      }
    }
  }

  &__section {
    color: var(--mid);
    font-size: 14px;

    h2 {
      margin: 0;

      color: var(--high);
      font-size: 18px;
      font-weight: 650;
    }

    h3 {
      margin: 20px 0 0;

      color: var(--high);
      font-size: 16px;
      font-weight: 600;
    }

    ul {
      margin: 4px 0 0;
      padding-left: 20px;

      li {
        margin-bottom: 4px;
        padding-left: 8px;

        line-height: 1.625;
      }
    }

    a {
      color: var(--mid);
      font-weight: 500;
      text-decoration-color: var(--border);
      text-underline-offset: 4px;
      transition: color 0.25s, text-decoration-color 0.25s;

      &:hover {
        color: var(--primary);
        text-decoration-color: var(--primary);

        time {
          color: var(--primary);
        }
      }
    }

    time {
      color: var(--low);
      font-size: 12px;
      transition: color 0.25s;
    }
  }

  &__follow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    a {
      position: relative;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 4px;

      padding: 6px 9px 6px 8px;
      overflow: hidden;

      background-color: var(--border);
      border-radius: 4px;

      color: var(--high) !important;
      line-height: 1;
      text-decoration: none;

      svg, span {
        position: relative;
        z-index: 5;
      }

      svg {
        color: inherit;
        width: 11px;
        height: 11px;
      }

      span {
        color: inherit;
        font-size: 12px;
        font-weight: 450;
      }

      &:before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        width: 100%;
        height: 100%;

        background-color: #000000;
        opacity: 0;
        transition: opacity 0.25s;

        @media (prefers-color-scheme: dark) {
          background-color: #FFFFFF;
        }
      }

      &:hover:before {
        opacity: 0.05;
      }
    }
  }
}

html:after {
  content: '';

  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;

  display: block;
  width: 100%;
  height: 100%;

  background-color: #000000;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.25s;
}
