@charset "UTF-8";
.index__jumbotron, .index__section {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border);
}
.index__jumbotron:last-child, .index__section:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0 none;
}
.index__jumbotron img {
  width: 100%;
  height: auto;
  aspect-ratio: 720/360;
  margin-top: -24px;
  margin-bottom: 12px;
  border-radius: 4px;
  filter: grayscale(1);
  transition: filter 0.25s;
}
.index__jumbotron img:hover {
  filter: grayscale(0.25);
}
@media (max-width: 800px) {
  .index__jumbotron img {
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-bottom: 4px;
    border-radius: 0;
  }
}
.index__jumbotron h1 {
  margin: 0;
  color: var(--primary);
  font-size: 24px;
  font-weight: 800;
}
.index__jumbotron h1 span {
  color: var(--mid);
  font-size: 15px;
  font-weight: 650;
}
.index__jumbotron p {
  margin: 12px 0 0;
  font-size: 14px;
}
.index__jumbotron p b {
  font-weight: 550;
}
.index__jumbotron-contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 16px;
}
.index__jumbotron-contact-item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--low);
  font-size: 13px;
}
.index__jumbotron-contact-item a {
  color: var(--low);
  font-size: 13px;
  text-decoration-color: var(--border);
  text-decoration-style: dashed;
  text-underline-offset: 4px;
  transition: text-decoration-color 0.25s;
}
.index__jumbotron-contact-item a:hover {
  text-decoration-color: var(--low);
}
.index__section {
  color: var(--mid);
  font-size: 14px;
}
.index__section h2 {
  margin: 0;
  color: var(--high);
  font-size: 18px;
  font-weight: 650;
}
.index__section h3 {
  margin: 20px 0 0;
  color: var(--high);
  font-size: 16px;
  font-weight: 600;
}
.index__section ul {
  margin: 4px 0 0;
  padding-left: 20px;
}
.index__section ul li {
  margin-bottom: 4px;
  padding-left: 8px;
  line-height: 1.625;
}
.index__section a {
  color: var(--mid);
  font-weight: 500;
  text-decoration-color: var(--border);
  text-underline-offset: 4px;
  transition: color 0.25s, text-decoration-color 0.25s;
}
.index__section a:hover {
  color: var(--primary);
  text-decoration-color: var(--primary);
}
.index__section a:hover time {
  color: var(--primary);
}
.index__section time {
  color: var(--low);
  font-size: 12px;
  transition: color 0.25s;
}
.index__portfolio label {
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  text-decoration: underline;
  text-decoration-color: var(--border);
  text-underline-offset: 4px;
  transition: color 0.25s, text-decoration-color 0.25s;
  -webkit-tap-highlight-color: transparent;
}
@media (pointer: fine) {
  .index__portfolio label:hover {
    color: var(--primary);
    text-decoration-color: var(--primary);
  }
}
.index__portfolio label span {
  line-height: 1;
}
.index__portfolio label input[type=checkbox] {
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
  opacity: 0;
}
html:has(.index__portfolio label input[type=checkbox]:checked):after {
  opacity: 0.325;
}
@media (prefers-color-scheme: dark) {
  html:has(.index__portfolio label input[type=checkbox]:checked):after {
    opacity: 0.85;
  }
}
html:has(.index__portfolio label input[type=checkbox]:checked) .index__portfolio li:has(input:checked) input[type=checkbox] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 510;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
html:has(.index__portfolio label input[type=checkbox]:checked) .index__portfolio li:has(input:checked) .index__portfolio-dialog {
  opacity: 1;
  pointer-events: auto;
}
@media (max-width: 488px) {
  html:has(.index__portfolio label input[type=checkbox]:checked) .index__portfolio li:has(input:checked) .index__portfolio-dialog {
    transform: translate(-50%, 0);
  }
}
.index__portfolio-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 520;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 440px;
  padding: 12px;
  background-color: var(--background);
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}
@media (prefers-color-scheme: dark) {
  .index__portfolio-dialog {
    background-color: var(--border);
  }
}
@media (max-width: 488px) {
  .index__portfolio-dialog {
    top: unset;
    bottom: 0;
    transform: translate(-50%, 100%);
    width: 100%;
    border-radius: 4px 4px 0 0;
    transition: opacity 0.25s, transform 0.25s;
  }
}
.index__portfolio-dialog:before {
  content: "×";
  position: absolute;
  top: -42px;
  right: 16px;
  pointer-events: none;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
}
.index__portfolio-dialog-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px 2px;
}
.index__portfolio-dialog-body h4 {
  margin: 0 0 8px;
  color: var(--primary);
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
}
.index__portfolio-dialog-body p {
  margin: 0;
  color: var(--high);
  font-size: 13px;
  line-height: 1.5;
}
.index__portfolio-dialog-body-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  margin: -8px -1px 4px;
}
.index__portfolio-dialog-body-tags span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 0 6px;
  background-color: var(--border);
  border-radius: 2px;
  color: var(--high);
  font-size: 11px;
  line-height: 1;
}
@media (prefers-color-scheme: dark) {
  .index__portfolio-dialog-body-tags span {
    background-color: #444448;
  }
}
.index__portfolio-dialog-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 1px 16px 0;
  background-color: var(--primary);
  border-radius: 4px;
  color: var(--background) !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  text-decoration: none;
}
.index__portfolio-dialog-button:not([href]) {
  background-color: var(--border) !important;
  color: var(--low) !important;
  cursor: not-allowed;
}
@media (prefers-color-scheme: dark) {
  .index__portfolio-dialog-button:not([href]) {
    background-color: #444448 !important;
  }
}

html:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

/*# sourceMappingURL=index.css.map */
